body {
  padding: 10px;
  font-family: sans-serif;
}

h1 {
    text-align: center;
}

.tabCustomStyle {
    display: flex;
    flex-direction: row;
}

.moviesContainer {
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.movie-details-container {
    display: flex;
    flex-direction: row;
}

.movie-details-contents {
    display: flex;
    flex-direction: column;
}