body {
  padding: 10px;
  font-family: sans-serif;
}

header {
    margin-bottom: 10px;
}

h1 {
    /*text-align: center;*/
}

h2 span {
    color: gainsboro;
    font-size: 20px;
    padding-left: 5px;
    font-weight: 500;
}

h2 span a{
    padding-left: 10px;
    font-size: 20px;
    text-decoration: none;
}

#login-dropdown-list {
    top: 1px;
    left: -175px;
}

#login-buttons .login-close-text {
    float: right;
}

#login-buttons a {
    text-decoration: none;
}


.tabCustomStyle {
    display: flex;
    flex-direction: row;
}


.moviesContainer {
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.movieDetails {
    color: #ffffff;
    display: block;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding: 10px;
}

.movie-details-container {
    display: flex;
    flex-direction: row;
    width: 1000px;
    margin: 0 auto;
}

.movie-details-container img {
    margin-bottom: 10px;
}

.movie-details-contents {
    display: flex;
    min-height: 450px;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    width: 700px;
    box-sizing: border-box;
    padding-left: 40px;
}
